body {
  background-color: rgba(211, 211, 211, 0.342);
}
.title {
  text-align: center;
  font-family: serif;
  font-size: 42px;
  color: rgb(2, 2, 26);
}
.card {
  display: flex;
  justify-content: space-around;
}
.card_box {
  width: 350px;
  height: 360px;
  padding: 25px;
  color: rgb(2, 2, 26);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(179, 165, 165);
}
.form {
  padding-left: 40px;
}
.input {
  padding: 8px 40px;
  border: 1px solid light grey;
}
.input + .input {
  margin-top: 10px;
}
.desc {
  font-family: serif;
  font-size: 22px;
  font-weight: 600;
}
.btn {
  margin-top: 20px;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: green;
}
